<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align:center">
  <form (ngSubmit)="setSizeMatriz()">
    <h4>
      Ingrese los datos de entrada
    </h4>
    <div class="">
        <div class="form-group">
          <textarea [(ngModel)]="core.ProcesoEntrada" rows="8" cols="50" name="ProcesoEntrada" required></textarea>
        </div>

        <label *ngIf="core.procesando">Procesando...</label>

        <div *ngIf="core.ProcesoSalida" class="form-group">
          <textarea [(ngModel)]="core.ProcesoSalida" rows="8" cols="50" name="ProcesoSalida" required></textarea>
        </div>

        <input [disabled]="core.procesando" type="submit" class="btn btn-success" value="INICIAR">
    </div>
  </form>
</div>



<router-outlet></router-outlet>